<template name="quiz">
  <div class="quiz">
    <!-- <h1 class="quiz-title">Baby Steps</h1> -->

    <p id="startQuiz"><a href="#">Start!</a>
    </p>



    {{#if startQuiz}}
    <!-- <div class="progress-bar">
        <span class="circle"></span>
      </div> -->
      <div class="question-box">
      <h2 class="question-header">Question {{Number}}</h2>

      <p class="question">{{Question.question}}</p>
      </div>

        <div class="notification"><p>{{Notification.response}}</p></div>

      <form class="answer">
        <input type="text" class="answerBox" name="text" placeholder="" />
      </form>

    {{/if}}
    <br>
    <p id="back"><a href="{{pathFor route='home'}}">Go Back</a></p>
  </div>
</template>
